<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   <title>Students</title>
</head>
<body>
   <h1>Students</h1>
   <div class="shared-row">
      <!-- Table Showing All Ninjas -->
      <div class="col-6 mx-auto">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Grade</th>
               </tr>
            </thead>
            <tbody>
               {% for one_student in all_students %}
                  <tr>
                     <td><a href="/students/{{one_student.id}}">{{one_student.last_name}}, {{one_student.first_name}}</a></td>
                     <td>{{one_student.grade}}</td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   <!-- Form to Create New Ninja -->
   <form action="/create/student" method="post" class="col-6 p-3 bg-dark text-light">
      <h2 class="text-center text-primary">New Student</h2>

      <div class="form-group">
         <label for="first_name">First Name:</label>
         <input type="text" name="first_name" class="form-control">
      </div>
      <div class="form-group">
         <label for="last_name">Last Name:</label>
         <input type="text" name="last_name" class="form-control">
      </div>
      <div class="form-group">
         <label for="grade">Grade:</label>
         <input type="number" name="grade" class="form-control">
      </div>
      <input type="submit" value="Add Student" class="btn btn-primary">
   </form>
</div>
<a href="/" class="btn btn-primary"> Back to School</a>
</body>
</html>